@import './main';


#logo{
	text-align: center;
	grid-area:logo;
}
#links{
	grid-area:links;
	display: flex;
	justify-content:space-around;	
}

#links a {
	height:40px;
	width:140px;
	padding-top:20px;
	text-align: center;
	border-radius: 5%;
}

a{
	text-decoration:none;
	color:#000;
}

a:hover{
	background-color: $grey;
	color:$white;
}
a:active{
	color:$darkgrey;
	color:#red;
}



@media (min-width:700px){
	#header{
		grid-template-areas:  
		". . logo  . ."
		" . links links links .";
	display:grid;
	}
	#menu{
	display:none;
	}
}

@media (max-width:700px){
	.hide{
		display:none !important;
	}
}
